@model IEnumerable<SalesManager.Contract>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Order1.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContractName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcessInfo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Order1.OrderName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContractName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AcessInfo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
